@import url(constants.css);

.imageCredit {
    font-size: 8px;
    line-height: 12px;
    margin-inline-start: 4px
}
.kidsCategory__body{
    display: flex;
    flex-direction: column;
    background-image: url(../images/kids_icon_background.svg);
    background-repeat:repeat;
    background-size: contain;
}
.kidsCategory__header{
    width: 100vw;
    height: 55vh;
    background-image: url(../images/kids_green_backdrop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    animation: slideDown 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
  .kidsCategory__headline{
    color: white;
  }


/*Kids slider*/
.kidsSlider{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(100%);
    animation: slideUp 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
.kidsSlider__cards {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: var(--spacing__16);
    container-name: kidsSlider;
    container-type: inline-size;
}

.addToWishlist{
    display: none;
    position: absolute;
    bottom: var(--spacing__8);
    right: var(--spacing__8);
}
.kidsSlider__card{
    background: var(--gradient__orange);
    width: 228px;
    height: 320px;
    color: white;
    border-radius: var(--borderRadius__S);
    position: relative;
    display: flex;
    flex-direction: column;

    & .imageCredit{
        margin-block-start: var(--spacing__8);
        margin-inline: var(--spacing__8);
        margin-block-end: 0;
    }
}
.addAsWish{
    display: none;
    background: none;
    border: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    cursor: pointer;
}
.addAsWishIcon{
    pointer-events: none;
    width: 30px;
}

.addAsWishIcon.--active{
    background-image: url(../images/icon__heart__filled.svg);
}

.kidsSlider__card--focus{
    width: 270px;
    height: 350px;

    & .kidsSlider__image{
        width: 270px;
    }
    & .addAsWish{
        display: block;
    }
}
.kidsSlider__cards .kidsSlider__card:nth-of-type(3n){  
    /* Every 3rd card gets the blue gradient background */
    background: var(--gradient__blue);
}
.kidsSlider__cards .kidsSlider__card:nth-of-type(3n+1){ 
    /* Every card after every 3rd card gets the background color green */
    background: var(--gradient__green);
}
.kidsSlider__location{
    flex-grow: 1;
    position: absolute;
    bottom: var(--spacing__8);
    left: var(--spacing__8);
    margin: 0;
}
.kidsSlider__title{
    margin-block-start: var(--spacing__20);
    margin-block-end: 0;
    margin-inline: var(--spacing__8);
}
.kidsSlider__image{
    object-fit: cover;
    width: 228px;
    height: 178px;
    border-radius: var(--borderRadius__S) var(--borderRadius__S) 0 0;
}

.kidsSlider__headline{
    margin-inline: auto;
    margin-block-end: var(--spacing__32);
    margin-block-start: 0;
}
.kidsSlider__subHeadline{
    margin-block: 0 var(--spacing__20);
}
.ageButtons{
    margin-block: 0 var(--spacing__20);
    display: flex;
    gap: var(--spacing__12);
}
.ageButton{
    display: block;
    border: solid 2px orange;
    border-radius: var(--borderRadius__S);
    background-color: white;
    width: 80px;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
    color: var(--text__primary);
    cursor: pointer;
}
.ageButton.--active{
    background: var(--gradient__orange);
    color: white;
}
.indicators{
    width: 192px;
    display: flex;
    gap: var(--spacing__8);
    place-self: center;
    margin-block: var(--spacing__16);
}
.indicator{
    width: 32px;
    height: 2px;
    background: rgba(0, 0, 0, 0.244);
}
.indicator--active{
    background: rgba(0, 0, 0, 0.674);
}
.slider__arrows{
    position: absolute;
    z-index: 5;
    display: flex;
    gap: 20rem;
    cursor: pointer;

    & .slider__arrow--next{
        transform: rotate(180deg);
    }
    
}
.slider__arrow--next:hover,.slider__arrow--previous:hover{
    fill: white;
}

/* container query for the kids slider*/
@container kidsSlider (max-width:980px){
    .kidsSlider__card{
     width: 153px;
     height: 206px;
    }
    .kidsSlider__image{
        width: 153px;
        height: 120px;
    }
    .kidsSlider__title{
        font-size: 1rem;
        margin-block-start: 4px;
    }
    .kidsSlider__location{
        font-size: 0.75rem;
        bottom: 4px;
        left: 4px;

        & svg{
            width: 10px;
            margin-block-end: -4px;
            margin-inline-start: 2px;
        }
    }
    .kidsSlider__card--focus{
        width: 170px;
        height: 228px;

        & .kidsSlider__image{
            height: 145px;
            width: 170px;
        }
    }
    .addAsWishIcon{
        width: 23px;
    }
    .slider__arrows{
        gap: 14rem;
    }
    .slider__arrow{
        width: 30px;
    }
 }
 /*Kids banner*/
 .kidsBanner{
    display: flex;
    align-items: center;
    margin-block-start: 200px;
    container-name: kidsBanner;
    container-type: inline-size;
    transform: translateY(100%);
    animation: slideUp forwards;
    animation-timeline: view();
    animation-range: cover 15% cover 50%;;
 }
 .kidsBanner__background{
    position: absolute;
    z-index: 1;
 }
 .kidsBanner__headline{
    color: var(--text__secondary);
    font-weight: 700;
    font-size: 2.2rem;
    z-index: 2;
    margin-inline: auto;
 }
 .kidsBanner__highlight{
    color: var(--textKids__accent--pink);
 }

 @keyframes slideLeft {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
 }

 @container kidsBanner (max-width:1100px){
    .kidsBanner__headline{
        font-size: 1.8rem;
    }
 }
 @container kidsBanner (max-width:900px){
    .kidsBanner__headline{
        font-size: 1.4rem;
    }
 }
 @container kidsBanner (max-width:700px){
    .kidsBanner__headline{
        font-size: 1rem;
    }
 }
 @container kidsBanner (max-width:500px){
    .kidsBanner__headline{
        font-size: 0.8rem;
    }
 }
 @container kidsBanner (max-width:400px){
    .kidsBanner__headline{
        font-size: 0.6rem;
    }
 }
.kidsVideoSection{
    background-image: url(../images/kidsVideo__background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.kidsVideoSection__locationIcon{
    width: 15px;
    margin-block-end: -5px;
}
.kidsVideoSection__text{
    color: var(--accent__blue);
    width: 380px;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    animation: slideRight forwards;
    animation-timeline: view();
    animation-range: cover 15% cover 50%;;
}
.kidsVideoSection__video{
    max-width: 50%;
    height: auto;
}
@keyframes slideRight {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.kidsEventSlider{
    display: flex;
    justify-content: center;
    gap: var(--spacing__32);
    margin-block-end: 80px;
}
.kidsEventSlider__card{
    background-color: #FFE6BB;
    color: #EF9906;
    width: 310px;
    height: 382px;
    border-radius: var(--borderRadius__S);

    & p{
        margin-inline-start: var(--spacing__8);
    }
    & svg{
        margin-block-end: -3px;
        margin-inline-end: 4px;
    }
}
.kidsEventSlider .kidsEventSlider__card:nth-of-type(3n){
    background-color: #CAE8F7;
    color: #24A6F0;
}
.kidsEventSlider .kidsEventSlider__card:nth-of-type(3n+1){
    background-color: #F7D0D3;
    color: #FF7983;
}
.kidsEventSlider__img{
    object-fit: cover;
    width: 310px;
    height: 244px;
    border-radius: var(--borderRadius__S) var(--borderRadius__S) 0 0;
}

@container eventSlider (max-width:800px){
    .kidsEventSlider__card{
        width: 200px;
        height: 300px;
    }
    .kidsEventSlider__img{
        width: 200px;
        height: 150px;
    }
}
/*Footer for the kids page*/
.kidsFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
    background-image: url(../images/footerWater.svg);
    background-repeat: no-repeat;
    background-size: cover;
    container-name: footer;
    container-type: inline-size;
}
.kidsFooter__island{
    width: 1000px;
    transition: 0.5s ease;
}
.kidsFooter__island:hover{
    transform: scale(1.2);
}
.kidsFooter__someIcons{
    display: flex;
    width: 100vw;
    gap: var(--spacing__48);
    justify-content: center;
    align-items: center;
    margin-block-end: var(--spacing__8);
   & p {
    color: var(--text__secondary);
    border-top: solid 1px white;
    width: 400px;
    }
}
.kidsFooter__tiktokLink{
    text-decoration: none;
    position: relative;
    
}
.kidsFooter__tiktok--red {
    position: absolute;
    left: 0;
    z-index: -1;
}
.kidsFooter__tiktok--cyan{
    position: absolute;
    left: 0;
    z-index: -2;
}

.kidsFooter__tiktokLink:hover > .kidsFooter__tiktok--cyan{
    animation: cyanAnimation 0.5s forwards;
}

.kidsFooter__tiktokLink:hover > .kidsFooter__tiktok--red{
    animation: redAnimation 0.5s forwards;
}

@keyframes cyanAnimation{
    from{
        transform: translate(0, 0);
    }
    to{
        transform: translate(-3px, -3px);
    }
}

@keyframes redAnimation{
    from{
        transform: translate(0, 0);
    }
    to{
        transform: translate(3px, 3px);
    }
}

.kidsFooter__instagramLink{
    text-decoration: none;
    position: relative;
}
.kidsFooter__instagramBackground{
    position: absolute;
    left: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.kidsFooter__instagramLink:hover > .kidsFooter__instagramBackground{
    opacity: 1;
    visibility: visible;
    
}

.kidsFooter__facebookLink{
    text-decoration: none;
    position: relative;
    
}
.kidsFooter__facebook--blue{
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
.kidsFooter__facebookBackground{
    position: absolute;
    left: 1px;
    top: 1px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.kidsFooter__facebookLink:hover > .kidsFooter__facebook--blue{
    opacity: 1;
    visibility: visible; 
}
.kidsFooter__facebookLink:hover > .kidsFooter__facebookBackground{
    opacity: 1;
    visibility: visible; 
}

@container footer (max-width: 800px){
    .kidsFooter__someIcons{
        font-size: 0.6rem;
    }

    .kidsFooter__island{
        width: 800px ;
    }
}

.wishListSection{
    position: fixed;
    z-index: 5;
    background-color: white;
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 80px;
    right: -100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-x: hidden;

    & .kidsSlider__card{
        width: 80%;
        height: 100px;
    }
    & .kidsSlider__image{
        display: none;
    }
    & .imageCredit{
        display: none;
    }
    & .kidsSlider__card:nth-of-type(3n){
        background: var(--gradient__blue);
    }
    & .kidsSlider__card:nth-of-type(3n+1){
        background: var(--gradient__green);
    }
}
.wishListSection.active {
    right: 0;
}
.wishListSection__heading{
    margin-block:10px;
    border-bottom: 1px solid black;
    width: 300px;
    text-align: center;
}
@media (max-width: 800px){
    .kidsBanner{
        margin-block-start:92px;
    }
    .kidsVideoSection{
        height: 600px;
    }
    .kidsVideoSection__text{
        margin-inline-start: 30px;
    }
    .wishListSection{
        width: 300px ;
        height: 400px;
    }
}
@media (max-width: 500px){
    .kidsVideoSection{
        height: 400px;
    }
    .kidsVideoSection__text{
        margin-inline-start: 30px;
    }
    .kidsVideoSection__heading{
        font-size: 1rem;
    }
    .kidsVideoSection__link{
        font-size: 0.6rem;
    }
}

/*Kids interactivemap page*/
.kidsMap__body{
    overflow: hidden;
}
.kidsMap{
    background: url(../images/map_island_background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display:grid;
    position: relative;
}
.kidsMap__island{
    width: 80%;
    place-self: center;
    margin-block-start: 200px;
}
.kidsMap__boat{
    position: absolute;
    bottom: 3%;
    left: 4%;
    animation: boat 5s ease-in infinite;
    transform-origin: bottom center;
}
.kidsMap__city{
    position: absolute;
    width: 280px;
    bottom: 10%;
    left: 32%;
}
.kidsMap__statue{
    position: absolute;
    width: 45px;
    bottom: 10%;
    left: 52%;
}
.kidsMap__food{
    position: absolute;
    width: 60px;
    bottom: 10%;
    left: 28%;
}
.kidsMap__concert{
    position: absolute;
    width: 180px;
    bottom: 17%;
    left: 17%;
}
.kidsMap__resort{
    position: absolute;
    width: 200px;
    left: 40%;
    bottom: 38%;
}
.kidsMap__windmill{
    position: absolute;
    width: 110px;
    left: 37%;
    bottom: 25%;
}
.kidsMap__universe{
    position: absolute;
    width: 133px;
    left: 60%;
    bottom: 40%;
}
.kidsMap__beach{
    position: absolute;
    width: 110px;
    right: 15%;
    bottom: 20%;
}
.kidsMap__castle{
    position: absolute;
    width: 210px;
    left: 50%;
    bottom: 20%;
}
.kidsMap__icon:hover{
    transform: scale(1.3);
    transition: 0.5s ease;
}
.kidsMap__forest{
    position: absolute;
    width: 235px;
    left: 18%;
    bottom: 34%;
}
.kidsMap__animals{
    position: absolute;
    width: 100px;
    left: 22%;
    bottom: 42%;
    z-index: -1;
    pointer-events: none;
}
.kidsMap__forest:hover + .kidsMap__animals{
    transform: scale(2.5);
    z-index: 2;
    transition: 1s ease;
    transform-origin: center;
}
/* makes the boat sway as if in water*/
@keyframes boat {
    0% {
        transform: rotate(5deg);
    }
    25% {
        transform: rotate(0deg);
    }
   50%{
        transform: rotate(-5deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(5deg);
    }
}