@import url(constants.css);

.imageCredit {
    font-size: 8px;
    line-height: 12px;
    margin-inline-start: 4px
}

.kidsCategory__header{
    background-image: url(../images/kids_green_backdrop.svg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    height: 550px;
    display: grid;
    place-items: center;
    margin-block-start: -100px;
    z-index: -1;
  }
  .kidsCategory__headline{
    color: white;
  }

/* kids category page overall styling*/

.kidsCategory__body{
    display: grid;
}

/*Kids slider*/
.kidsSlider{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: var(--spacing__16);
    container-name: kidsSlider;
    container-type: inline-size;
}

.addToWishlist{
    display: none;
    position: absolute;
    bottom: var(--spacing__8);
    right: var(--spacing__8);
}
.kidsSlider__card{
    background: var(--gradient__orange);
    width: 228px;
    height: 320px;
    color: white;
    border-radius: var(--borderRadius__S);
    position: relative;
    display: flex;
    flex-direction: column;

    & .imageCredit{
        margin-block-start: var(--spacing__8);
        margin-inline: var(--spacing__8);
        margin-block-end: 0;
    }
}
.kidsSlider__card--focus{
    width: 270px;
    height: 350px;

    & .kidsSlider__image{
        width: 270px;
    }
    & .addToWishlist{
        display: block;
    }
}
.kidsSlider :nth-of-type(3n){  /* Every 3rd card gets the blue gradient background */
    background: var(--gradient__blue);
}
.kidsSlider .kidsSlider__card:nth-of-type(3n+1){ /* Every card after every 3rd card gets the background color green */
    background: var(--gradient__green);
}
.kidsSlider__location{
    flex-grow: 1;
    position: absolute;
    bottom: var(--spacing__8);
    left: var(--spacing__8);
    margin: 0;
}
.kidsSlider__title{
    margin-block-start: var(--spacing__20);
    margin-block-end: 0;
    margin-inline: var(--spacing__8);
}
.kidsSlider__image{
    object-fit: cover;
    width: 228px;
    height: 178px;
    border-radius: var(--borderRadius__S) var(--borderRadius__S) 0 0;
}

.kidsSlider__headline{
    place-self: center;
    margin-block-end: var(--spacing__32);
    margin-block-start: 0;
}
.kidsSlider__subHeadline{
    place-self: center;
    margin-block: 0 var(--spacing__20);
}
.ageButtons{
    place-self: center;
    margin-block: 0 var(--spacing__20);
    display: flex;
    gap: var(--spacing__12);
}
.ageButton{
    display: block;
    border: solid 2px orange;
    border-radius: var(--borderRadius__S);
    background-color: white;
    width: 80px;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
    color: var(--text__primary);
}
.ageButton:active{
    background: var(--gradient__orange);
    color: white;
}
.indicators{
    width: 192px;
    display: flex;
    gap: var(--spacing__8);
    place-self: center;
    margin-block: var(--spacing__16);
}
.indicator{
    width: 32px;
    height: 2px;
    background: rgba(0, 0, 0, 0.244);
}
.indicator--focus{
    background: rgba(0, 0, 0, 0.674);
}

/* container query for the kids slider*/
@container kidsSlider (max-width:980px){
    .kidsSlider__card{
     width: 153px;
     height: 206px;
    }
    .kidsSlider__image{
        width: 153px;
        height: 120px;
    }
    .kidsSlider__title{
        font-size: 1rem;
        margin-block-start: 4px;
    }
    .kidsSlider__location{
        font-size: 0.75rem;
        bottom: 4px;
        left: 4px;

        & svg{
            width: 10px;
            margin-block-end: -4px;
            margin-inline-start: 2px;
        }
    }
    .kidsSlider__card--focus{
        width: 170px;
        height: 228px;

        & .kidsSlider__image{
            height: 145px;
            width: 170px;
        }
    }
    .addToWishlist{
        width: 23px;
    }
 }
 .kidsBanner{
    height: 306px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block:160px;
    container-name: kidsBanner;
    container-type: inline-size;
    position: relative;
    
    & svg{
        margin-block-end: -5px;
    }
}
.kidsBanner__headline{
    color: var(--text__secondary);
    font-size: 1.7rem;
    padding-inline: var(--spacing__20);
}
.kidsBanner__highlight{
    color: var(--textKids__accent--pink);
}
.kidsBanner__cloud{
position: absolute;
right: 0;
top: -60%;
z-index: -2;
}
.kidsBanner__background{
    width: 100vw;
    position: absolute;
    z-index: -1;
}
@container kidsBanner (max-width:975px){
    .kidsBanner__headline{
        font-size:1.2rem;
    }
    .kidsBanner__cloud{
        top:-45%;
        & svg{
        width: 200px;}
    }
}
.kidsEventSlider{
    display: flex;
    place-self: center;
    gap: var(--spacing__32);
}
.kidsEventSlider__card{
    background-color: #FFE6BB;
    color: #EF9906;
    width: 310px;
    height: 382px;
    border-radius: var(--borderRadius__S);

    & p{
        margin-inline-start: var(--spacing__8);
    }
    & svg{
        margin-block-end: -3px;
        margin-inline-end: 4px;
    }
}
.kidsEventSlider .kidsEventSlider__card:nth-of-type(3n){
    background-color: #CAE8F7;
    color: #24A6F0;
}
.kidsEventSlider .kidsEventSlider__card:nth-of-type(3n+1){
    background-color: #F7D0D3;
    color: #FF7983;
}
.kidsEventSlider__img{
    object-fit: cover;
    width: 310px;
    height: 244px;
    border-radius: var(--borderRadius__S) var(--borderRadius__S) 0 0;
}

/*Footer for the kids page*/
.kidsFooter{
    position: relative;
    margin-block-start: var(--spacing__92);
    height: 365px;
}
.kidsFooter__water{
    position: absolute;
    left: -5%;
    top: -5%;
}
.kidsFooter__island{
    position: absolute;
    z-index: 1;
    right: 20%;
    top: -25%;
    width: 850px;
    transition: 0.5s ease;
    
}
.kidsFooter__island:hover{
    transform: scale(1.2);
}
.kidsFooter__someIcons{
    position: absolute;
    bottom: 5%;
    z-index: 2;
    width: 100vw;
    display: flex;
    gap: var(--spacing__48);
    justify-content: center;
    align-items: center;

    & p {
        color: var(--text__secondary);
        border-top: solid 1px white;
        width: 400px;
    }

}
.kidsFooter__instagram{
    margin-inline-start: var(--spacing__92);
}
.kidsFooter__tiktok{
    margin-inline-end: var(--spacing__92);
}

/*Kids interactivemap page*/
.kidsMap__body{
    overflow: hidden;
}
.kidsMap{
    background: url(../images/map_island_background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display:grid;
    position: relative;
}
.kidsMap__island{
    width: 80%;
    place-self: center;
    margin-block-start: 200px;
}
.kidsMap__boat{
    position: absolute;
    bottom: 3%;
    left: 4%;
    animation: boat 5s ease-in infinite;
    transform-origin: bottom center;
}
.kidsMap__city{
    position: absolute;
    width: 280px;
    bottom: 10%;
    left: 32%;
}
.kidsMap__statue{
    position: absolute;
    width: 45px;
    bottom: 10%;
    left: 52%;
}
.kidsMap__food{
    position: absolute;
    width: 60px;
    bottom: 10%;
    left: 28%;
}
.kidsMap__concert{
    position: absolute;
    width: 180px;
    bottom: 17%;
    left: 17%;
}
.kidsMap__resort{
    position: absolute;
    width: 200px;
    left: 40%;
    bottom: 38%;
}
.kidsMap__windmill{
    position: absolute;
    width: 110px;
    left: 37%;
    bottom: 25%;
}
.kidsMap__universe{
    position: absolute;
    width: 133px;
    left: 60%;
    bottom: 40%;
}
.kidsMap__beach{
    position: absolute;
    width: 110px;
    right: 15%;
    bottom: 20%;
}
.kidsMap__castle{
    position: absolute;
    width: 210px;
    left: 50%;
    bottom: 20%;
}
.kidsMap__icon:hover{
    transform: scale(1.3);
    transition: 0.5s ease;
}
.kidsMap__forest{
    position: absolute;
    width: 235px;
    left: 18%;
    bottom: 34%;
}
.kidsMap__animals{
    position: absolute;
    width: 100px;
    left: 22%;
    bottom: 42%;
    z-index: -1;
    pointer-events: none;
}
.kidsMap__forest:hover + .kidsMap__animals{
    transform: scale(2.5);
    z-index: 2;
    transition: 1s ease;
    transform-origin: center;
}
/* makes the boat sway as if in water*/
@keyframes boat {
    0% {
        transform: rotate(5deg);
    }
    25% {
        transform: rotate(0deg);
    }
   50%{
        transform: rotate(-5deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(5deg);
    }
}