
@import url("constants.css");

/*next 4 just temporary, they were too big, but aren't styled yet*/

.icon {
    max-width: 35px;
}

.imageCredit {
    font-size: 8px;
    line-height: 12px;
    margin-inline-start: var(--spacing__4);
    margin-block-start: 0;
}

/* ___________________________________________
                 HERO SECTION
   ___________________________________________ */

.heroSection {
    width: 100vw;
    position: relative;
    padding-top: 80px;
    overflow: hidden;
    container-type: inline-size;
    container-name: heroSection;
}

.heroSection__main {
    position: relative;

    .heroSection__backgroundImage {
        display: block;
        width: 100%;
        z-index: -1;
    }

    .heroSection__backgroundImage--mobile {
        display: none;
        width: 100%;
        z-index: -1;
    }
    
    /* text */
    .heroSection__text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-width: 40vw;
        position: absolute;
        bottom: calc(12% + 50px);
        right: 4vw;
        text-align: right;
        color: var(--text__secondary);

        animation-name: heroTextFlyIn;
        animation-duration: 2s; 

        .heroSection__title {
            margin: 0;
            font-size: 4.5rem;
            line-height: 5.5rem;
        }

        .heroSection__description--mobile {
            display: none;
        }
    }

    .heroSection__text--category {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        max-width: 47vw;
        position: absolute;
        top: 6vw;
        left: 6vw;
        color: var(--text__secondary);

        .heroSection__title {
            font-weight: 400;
        }
    }
}

@keyframes heroTextFlyIn {
    from { 
        right: -100%; 
    }
    to {
        right: 4vw;
    }
}

/* SoMe section */

.socialMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 3% 0 calc(3% + 50px) 0; /* 50px bottom, because slider is translated upwards with 50px,+3% "normal" padding*/
    position: absolute;
    top: 0;
    left: 3vw;
    height: 100%;
    box-sizing: border-box;

    animation-name: socialMediaFlyIn;
    animation-duration: 1s;

    .socialMedia__line {
        flex: auto; /*fills rest of box, no fixed height*/
        width: 1px;
        background-color: white;
    }

    .icon {
        height: 5%
    }
}

@keyframes socialMediaFlyIn {
    from {
        left: -100%;
    }
    to {
        left: 3vw;
    }
}

.socialMedia--mobile {
    background-color: #262525;
    display: none;
    padding: var(--spacing__24);
    margin: 0;
    translate:0 -20px; /*because the slider also has translate 50px*/

    animation-name: categorySliderFlyIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;

    .socialMedia__line {
        flex: auto;
        height: 1px;
        background-color: white;
    }
}


/* ______________________________________
               CATEGORY SLIDER 
   ______________________________________ */

.categorySlider {
    display: flex;
    gap: 1vw;
    position: relative;
    width: fit-content;
    overflow: visible;
    transform: 0 -50px; /*50px upwards, so it overlaps the image -> so it's fading into the slider backgorund*/
    /*padding left to get the first card (information) in the middle of the screen*/
    padding-left: calc(50vw - var(--cardWidth) / 2);
    padding-bottom: var(--spacing__128);
    color: var(--text__noFocus);
    background: linear-gradient(0deg, #0a423c 0%, #0a423c calc(100% - 50px), #ffffff00 calc(100% - 20px));

    animation-name: categorySliderFlyIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes categorySliderFlyIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateY(-50px);
        opacity: 1;
    }
}

.slider__arrows {
    position: absolute;
    display: contents;
    padding: var(--spacing__20);

    .slider__arrow {
        position: absolute;
        /*calculation of the middle of the imageheight (ratio:1/1.7 - look at categorySlider__image*/
        top: calc(var(--cardWidth) * 1.7 / 2);
        translate: 0 -50%;
        cursor: pointer;
        z-index: 5;

        &:hover {
            /*without space between & and the rest = element contains both classes*/
            fill: white;
        }

        &.slider__arrow--previous {
            left: 20px;
        }

        &.slider__arrow--next {
            /*left, because its absolute to slider and slider begins at left:0
            20px spacing and 35px is the iconwidth*/
            left: calc(100vw - 20px - 35px);
            transform: rotate(180deg);
        }
    }
}
.categorySlider__card {
    position: relative;
    /*translate: card moves, when arrow or other card is clicked*/
    translate: calc(var(--cardWidth) * -1 * (var(--currentCard) - 1) - 1vw * (var(--currentCard) - 1));
    transition: ease-in-out 0.3s;
    width: var(--cardWidth);
    height: fit-content;
    cursor: pointer;
    /*Disable Text Selection, when user doubleclicks on a card*/
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.focus {
        transform: scale(1.2);
        z-index: 1;
        color: var(--text__secondary);

        .categorySlider__image {
            box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.77)
        }

        .categorySlider__description {
            display: block;
        }
    }

    &:not(.focus):hover {
        transform: scale(1.1);
        z-index: 2;
    }

    .categorySlider__image {
        border-radius: var(--borderRadius__M);
        height: fit-content;
        width: 100%;
        /*aspect-ratio: width is defined, ratio is making sure the proportions are fixed*/
        aspect-ratio: 1/1.7;
        object-fit: cover;
        object-position: center;
        box-shadow: -4px 4px 10px 0px rgba(0, 0, 0, 0.45);
    }

    .categorySlider__title {
        margin-block-start: var(--spacing__12);
        margin-block-end: var(--spacing__4);
        margin-inline-start: var(--spacing__4);
    }

    .categorySlider__description {
        display: none;
        font-size: 0.75rem;
        line-height: 1rem;
        margin-inline-start: var(--spacing__4);
    }
}

/* ------------- container queries for different screen sizes -------------*/

@container heroSection (max-width: 1250px) {
/*changing text size to fit the screen better
__text is nested into __main, because it originally is and to not be overwritten it needs to have
the same nesting in this query*/
    .heroSection__main {
        .heroSection__text {
            max-width: 52vw;
            
            .heroSection__title {
                font-size: 3rem;
                line-height: 3.5rem;
            }
        }
    }
}

/* container mobile*/
@container heroSection (max-width:800px) {
    .heroSection__main {
        .heroSection__backgroundImage {
            display: none;
        }
        .heroSection__backgroundImage--mobile {
            display: block;
            width: 200%;
            transform: translateX(-25%);
            
        }
        
        .heroSection__text {
            max-width: 80vw;
            
            .heroSection__title {
                font-size: 2.25rem;
                line-height: 3rem;
                text-shadow: 0px 2px 4px rgba(0,0,0,0.8);
            }
            .heroSection__description {
                display: none;
            }
            .heroSection__description--mobile {
                display: block;
                font-weight: 600;
                margin: 0;
                text-shadow: 0px 2px 4px rgba(0,0,0,0.8);
            }
        }
        .heroSection__text--category {
            align-items: flex-end;
            text-align: right;
            max-width: 80vw;
            left: 16vw; /* width: 80, home is right: 4vw --> 100-80-4 = left:16vw*/
            top: auto;

            .heroSection__title {
                font-weight: bold;
            }
        }
    }

    .categorySlider {
        padding-left: calc(50vw - var(--cardWidthMobile) / 2);
        background: linear-gradient(0deg, #262525 0%, #262525 calc(100% - 50px), #ffffff00 calc(100% - 20px));
    
    }
    .categorySlider__card {
        width: var(--cardWidthMobile);
        translate: calc(var(--cardWidthMobile) * -1 * (var(--currentCard) - 1) - 1vw * (var(--currentCard) - 1));
        text-align: center;

        .categorySlider__title {
            display: none;
        }
        .categorySlider__description {
            /* didn't look good in normal size, therfore adjusted it so it has more space*/
            width: 200%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        
        .categorySlider__image{
            filter: grayscale(0.2);
        }

        &.focus {

            .categorySlider__image {
                filter: grayscale(0);
            }
            .categorySlider__title {
                display: block;
                font-size: 1rem;
            }
        }
    }
    .slider__arrows {
        .slider__arrow {
            top: calc(var(--cardWidthMobile) * 1.7 / 2);
        }
    }
}
 /* for the soMe section */
@media screen and (max-width: 800px) {
    .socialMedia {
        display: none;
    }
    .socialMedia--mobile {
        display: flex;
        gap: 5%;
        align-items: center;
    }
}

/*__________________________________________________
        HOME WELCOME (from here: mobile first)
  __________________________________________________*/

.welcome {
    width: 100%;
    padding-inline: 10%;
    padding-block-end: var(--spacing__20);
    box-sizing: border-box;
    
    .welcome__headline, .welcome__headline--script {
        margin: 0;
    }
    
    .welcomeImage--top, .welcomeImage--bottom {
        display: none;
    }
}

.banner {
    width: 100%;
}


/*_______________________________________
            OPPOSITE CARDS
  _______________________________________*/

.oppositeCards {
    margin-block: var(--spacing__24);
    container-name: oppositeCards;
    container-type: inline-size;
    
}
.oppositeCard {
    display: flex;
    justify-content: center;
    position: relative;
    margin-block-end: 250px;
    
    .oppositeCard__image {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;   
    }

    .imageCredit {
        display: none;
    }
    .imageCredit.mobile {
        display: block;
    }
    
    .oppositeCard__info {
        width: 90vw;
        position: absolute;
        top: 80%;
        background-color: white;
        padding-inline: var(--spacing__24);
        padding-block-start: var(--spacing__20);
        padding-block-end: var(--spacing__4); /* because <p> has a margin of 1em (16px), 24 - 16 = 8*/
        box-sizing: border-box;
        border-radius: var(--borderRadius__M);
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);

        .oppositeCard__title {
            margin: 0;
        }
    }

    .button__primary {
        display: none;
    }
}

@container oppositeCards (min-width: 745px) {
    .oppositeCard {
        padding-inline: 10vw;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-block-end: 0;

        &.oppositeCard--first {
            margin-block-start: var(--spacing__48);
        }
        
        .oppositeCard__image {
            width: 300px;
            height: 500px;
            aspect-ratio: 0.63;
            border-radius: var(--borderRadius__M);
            object-position: 25%;
        }

        .imageCredit {
            display: block;
        }
        .imageCredit.mobile {
            display: none;
        }

        .oppositeCard__info {
            flex: auto;
            position: initial;
            height: fit-content;
            box-shadow: none;
            border-radius: 0;
            padding-inline: 0;
            padding-block-end: var(--spacing__24);
            box-sizing: content-box;
            
            &.first {
                margin-inline-start: var(--spacing__48);
                border-bottom: solid 1px var(--grey);
            }

            &.second {
                border-top: solid 1px var(--grey);
                padding-block-start: var(--spacing__32);
                margin-inline-end: var(--spacing__48);
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                text-align: right;

            
            }
        }

        .button {
            display: block;
            margin-block-start: var(--spacing__24);
        }
    }
}

.features {
    display: none;
    width: 90vw;
    margin-inline-start: 5vw;
    margin-block: var(--spacing__64);
}

.features--mobile {
    display: block;
    width: 90vw;
    transform: translateX(3vw);
    margin-block: var(--spacing__48);
}


/*_______________________________________
                BUTTONS
  _______________________________________*/

.button {
    text-decoration: none;
    padding-inline: var(--spacing__24);
    padding-block: var(--spacing__12);
    border: none;
    border-radius: var(--spacing__8);
    width: fit-content;
    margin-block-end: var(--spacing__24);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.button__primary {
    background-color: var(--accent__blue);
    color: var(--text__secondary);

    &:hover {
        background-color: var(--lightBlue);
        color: var(--text__accent--blue);
    }

    &:active {
        background-color: var(--lightBlue);
        color: var(--text__accent--blue);
        box-shadow: none;
    }

    &:disabled {
        background-color: var(--grey);
        box-shadow: none;
    }
}

.button__secondary {
    background-color: white;
    color: var(--text__accent--blue);
    border: solid 1px var(--accent__blue);

    &:hover {
        border: solid 1px var(--lightBlue);
    }

    &:active {
        border: solid 1px var(--lightBlue);
        box-shadow: none;
    }

    &:disabled {
        background-color: var(--grey);
        box-shadow: none;
    }
}

/*_______________________________________
            IMAGE SLIDER
  _______________________________________*/

  .imageSlider {
    display: flex;
    flex-direction: column;
    container-name: imageSlider;
    container-type: inline-size;
    z-index: -1;

    .imageSlider__background {
        display: none;
    }

    .imageSlider__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imageSlider__headline {
        text-align: center;
    }

    .imageSlider__description {
        display: none;
    }
}

.imageSlider__indicator {
    display: none;
}

.imageCards {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: visible;
    padding: 0 5vw;

    background: linear-gradient(0deg, var(--lilacGrey) 0%, var(--lilacGrey) 93%, #ffffff00 93%);
}

.imageCard {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    padding: 0 6px;
    /* height: 100%;
    max-height: 410px; */

    .imageCard__image {
        width: 100%;
        aspect-ratio: 1/1.3;
        object-fit: cover;
        border: solid 12px white;
        box-sizing: border-box;
    }

    .imageCredit {
        display: none;
    }

    .imageCard__title {
        white-space: normal;
        margin-block-start: 1vh;
        margin-block-end: 1vh;
    }

    .imageCard__description {
        white-space: normal;
        display: none;
    }
}

@media screen and (min-width: 745px) {
    .button {
        font-size: 20px;
    }

    .imageSlider {
        flex-direction: row;
        align-items: center;
        background: var(--lilacGrey);

        .imageSlider__info {
            flex: none;
            align-items: start;
            width: 40vw;
            padding: 5vw;
            box-sizing: border-box;

            .imageSlider__headline {
                text-align: left;
            }

            .imageSlider__description {
                display: block;
                text-align: left;
            }

        }

        .imageSlider__indicator {
            display: flex;
            justify-content: center;
            gap: var(--spacing__8);
            position: absolute;
            top: 5vh;
            width: 100%;

            .imageSlider__dot {
                width: 12px;
                height: 12px;
                border-radius: var(--borderRadius__M);
                background-color: #d6d6d6;

                &.active {
                    background-color: var(--accent__blue);
                }
            }
        }

        .imageCards {
            padding: calc(5vh + 12px + 3vh) 5vw 5vh 0;
            background: none;
            overflow: visible;

            .imageCard {
                cursor: pointer;
                width: 45%;
                transition: 0.2s;

                &:hover {
                    .imageCard__image {
                        border: solid 0 white;
                    }

                    .imageCredit {
                        color: white;
                    }
                }

                &.imageCard__hidden {
                    opacity: 0;
                }

                .imageCard__image {
                    transition: 1s;

                    display: block;
                    border: solid 1.5vw white;
                }

                .imageCredit {
                    display: block;
                    translate: 0 -100%;
                    align-content: center;
                    margin: 0 1.5vw;
                    height: 1.5vw;
                    color: black;
                    transition: color 0.2s;
                }

                .imageCard__description {
                    display: block;
                }
            }
        }

    }

    .features {
        display: block;
    }

    .features--mobile {
        display: none;
    }
}

/*________________________________________
                NEWSLETTER
  ________________________________________*/
.category__main {
    container-name: newsletter;
    container-type: inline-size;
}

.category__top {
    margin-block: 50px;
    display: flex;
    position: relative;
    width: 100vw;

    .welcome.inactive {
        display:none
    }
}

.newsletter__signUp {
    background-color: white;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
    opacity: 0;
    position: absolute;
    top: 0;
    right: 92px;
    width: 10px;
    height: 10px;
    transition: 0.6s linear;
    z-index: 10;

    .newsletter__icon {
        position: absolute;
        z-index: 5;
        top: -5%;
        right: -3%;
    }
}

.newsletter__signUp.active {
    opacity: 1;
    width: 80vw;
    height: 80vh;
    top: calc(10vh - 50px);
    right: 10vw;
    display: flex;

    .icon__close {
        height: 35px;
        position: absolute;
        z-index: 5;
        top: 20px;
        left: 20px;

    }

    .newsletter__headline {
        font-size: 24px;
        font-weight: normal;
        margin-block: var(--spacing__40);
    }
    .newsletter__headline--main {
        font-size: 32px;
    }
}

.newsletter__aside {
    width: 38.2%; /*golden ratio*/
    position: relative;
    overflow: hidden;

    .newsletter__progressBar {
        background: linear-gradient(0deg, rgba(251,247,244,0) 0%, rgba(251,247,244,0.8421962535014006) 7%, rgba(251,247,244,1) 15%);
        width: 100%;
        height: 52%;
        position: absolute; /*ellers virker z-index ikke*/
        z-index: 1;
        display: grid;
        grid-template-rows: 20px auto 20px auto 20px;
        padding-inline-start: 20%;
        padding-block: 20%;
        box-sizing: border-box;

        .progressBar__dot {
            display: block;
            height: 18px;
            width: 18px;
            border-radius: 24px;
            border: solid 2px var(--lightBlue);
            transition: 1s ease;

            &:after {
                content: attr(data-description);
                display: block;
                width: fit-content;
                text-wrap: nowrap; /* ellers står det i to linjer*/
                transform: translateX(40px);
                color: var(--grey);
            }

            &.active {
                background-color: var(--lightBlue);
                height: 20px;
                width: 20px;
                transform: translateX(-1px); /*to align it with the other ones*/

                &::after {
                    color: black;
                }
            }
        }

        .progressBar__line {
            display: block;
            border-left: solid 1px var(--grey);
            transform: translateX(10.5px); /*half of dot - half of line*/
        }
    }
    .newsletter__image {
        min-width: 100%;
        height: 55%;
        position: absolute;
        bottom: 0;
    }
}

.newsletter__signUpForm {
    display: none;
}

.newsletter__signUpForm.active {
    display: block;
    width: 61.8%;
    padding: 50px;
    box-sizing: border-box;
    overflow-y: scroll;


    > section { /*direct children*/
        padding-block-end: var(--spacing__48);
        border-bottom: solid 1px var(--grey);
    }

    .newsletter__personalData {
        display: flex;
        flex-direction: column;

        .newsletter__label {
            margin-inline-start: var(--spacing__8);
            margin-block-end: var(--spacing__4);
        }

        input{
            padding-inline-start: 10px;
            border: none;
            border-radius: var(--borderRadius__S);
            margin-block-end: var(--spacing__24);
            box-sizing: border-box;
            background-color: white;
            box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
            height: 40px;
            width: 300px;   

            &.newsletter__firstName {
                margin: 0;
            }
        }
    }

    .newsletter__categories {
        animation: fade linear both;
        animation-timeline: view(block);
        animation-range: cover 10% cover 50%;

        display: grid;
        grid-template-columns: min-content auto;
        column-gap: var(--spacing__8);
        row-gap: var(--spacing__12);
        

        .newsletter__headline {
            grid-column: span 2;
        }

        .newsletter__checkbox--allCategories {
            margin-block-end: var(--spacing__16);
        }
    }

    .newsletter__specify {
        animation: fade linear both;
        animation-timeline: view(block);
        animation-range: cover 10% cover 50%;

        .newsletter__headline {
            margin-block-end: 0;
        }
        .newsletter__description {
            margin-block-start: var(--spacing__8);
            margin-block-end: var(--spacing__40);
        }
        .newsletter__subheadline {
            margin-block-start: 0;
        }

        input {
            display: none;
        }

        .newsletter__age {
            padding-block-end: var(--spacing__48);

            label {
                padding-inline: var(--spacing__16);
                padding-block: var(--spacing__4);
                border: solid 1px var(--accent__blue);
                border-radius: 16px;
                margin-inline-end: var(--spacing__12);
                }

            .newsletter__checkbox--age:checked + label { /* + is for siblings*/
                background-color: var(--accent__blue);
                color: white;
            }
        }

        .newsletter__accessibility {
            
            label {
                margin-inline-end: var(--spacing__12);
            }

            input:checked + label {
                .accessibility__background {
                    fill: var(--mintgreen)
                }
            }
        }
    }

    .newsletter__interval {
        animation: fade linear both;
        animation-timeline: view(block);
        animation-range: cover 10% cover 40%;

        .interval__choice {
            display: flex;
            gap: var(--spacing__12);
            align-items: flex-start;

            &:not(.interval__choice--interval) {
                padding-block-end: var(--spacing__32);
            }
        }

        p {
            margin: 0;
        }

        input {
            margin-block-start: 7px; /*checkboxes*/
        }

        .interval__select {
            margin-block-start: var(--spacing__8);
            display: flex;
            gap: var(--spacing__16);

            select {
                padding-inline: var(--spacing__8);
                border: none;
                border-radius: var(--borderRadius__S);
                background-color: white;
                box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
                height: 40px;
            }

            p {
                transform: translateY(8px); /*to get it in the middle of the input field*/
            }
        }
    }

    .newsletter__submit {
        border: none;
        animation: fade linear both;
        animation-timeline: view(block);
        animation-range: cover 0% cover 10%;

        .newsletter__alert {
            color: var(--text__accent--primary);
            margin-block: var(--spacing__40);
            line-height: 20px;
        }

        .newsletter__AGB {
            padding-block-end: var(--spacing__24);
        }
        input {
            font-size: 20px;
        }
         /*container omkring submit button, to create a "border"*/
        .newsletter__submit--action {
            position: relative;
            height: 50.5px;
            width: 109.8px;
            border-radius: 8px;

            .newsletter__submitButton {
                position: absolute;
                left: 2px;
                top: 2px;
                margin: 0;

                &.active {
                    background: white;
                    color: var(--accent__blue);
                    box-shadow: none;
                }
            }
        }
    }
}

.submit__border.active  {
    position: absolute;
    background-color: rgb(15, 239, 255);
    z-index: -2;

    &.submit__border--top {
        bottom: 8px;
        left: 0;
        width: 100%;
        height: 42.5px;
        border-radius: 10px;
        animation: submitLoading 1.5s linear infinite ;
    }
    
    &.submit__border--bottom {
        top: 8px;
        right: 0;
        border-radius: 10px;
        width: 100%;
        height: 42.5px;
        animation: submitLoading 1.5s linear infinite ;
    }
}

@keyframes submitLoading {
   0% {
    width: 2px;
    height: 0;
   }
   30% {
    width: 2px;
    height: 42.5px;
    
   }
   100% {
    width: 100%;
   }
}

.newsletter__submitted {
    display: none;

    &.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;

        .newsletter__headline {
            margin: 0;
        }

        .button {
            margin-top: var(--spacing__24);
        }
    }
}

.newsletter__inform {
    display: none;

    &.active {
        display: block;
        background-color: #EDEDED;
        padding: 30px;
        position: relative;
        margin-inline-end: var(--spacing__92);
        
        .newsletter__icon {
            position: absolute;
            top: -15%;
            right: -10%;
        }
        
        .button {
            margin-bottom: 0;
        }
    }
}


@container newsletter (max-width:1100px) {
    .category__top {
        display: block;
    }
    .newsletter__inform.active {
        margin-inline-start: 10%;
        margin-inline-end: 15%;
    }
    .newsletter__signUp {
        opacity: 1;
        position: absolute;
        top: -50px;
        left: 100%;
        width: 100vw;
        height: 100vh;
        transition: 0.6s linear;
    }
    .newsletter__signUp.active {
        display: block;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: -50px; /*categoryTop has a margin-top of 50px*/
        overflow-y: auto;

        .newsletter__icon {
            display: none;
        }

        .icon__close {
            left: calc(100% - 20px - 35px);
            top: 20px;
        }

        .newsletter__headline--main {
            font-size: 24px;
            margin-block-start: 0;
        }
        .newsletter__headline {
            font-size: 20px;
        }
    }
    .newsletter__aside {
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 4;
        background: white;

        .newsletter__image {
            height: 25vh;
            object-fit: cover;
            position: relative;
        }

        .newsletter__progressBar {
            position: relative;
            background: none;
            display: grid;
            grid-template-columns: 18px auto 18px auto 18px;
            grid-template-rows: 1fr;
            gap: 20px;
            width: 100vw;
            height: calc(18px + 30px + 32px); /*18px = dot, 30px=translate after, 32px=text */
            padding-inline: 15%;
            padding-block-start: 40px;
            box-sizing: border-box;
            
            .progressBar__dot {
                &.active {
                    width: 18px;
                    height: 18px;                 
                }
                
                &::after {
                    transform: translateX(-40%) translateY(30px);
                    text-wrap: wrap;
                    text-align: center;
                }
            }
            .progressBar__line {
                border-bottom: solid 1px var(--grey);
                border-left: none;
                height: 1px;
                transform: translateY(9px);
            }
        }
    }
    .newsletter__signUpForm.active {
        width: 100vw;
        box-sizing: border-box;
        padding: 0 var(--spacing__32);

        .newsletter__personalData {
            input {
                width: 100%;
            }
        }
        .newsletter__categories {
            width: 100%;
        }
    }

    .newsletter__submitted {
        align-items: center;
        text-align: center;
    }
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


footer img{
    width: 100%;
}
