/* Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Custom properties for colors */

:root{
    --accent-primary:#BE323E;
    --mintgreen:#D0EAE3;
}

body{
    margin: 0;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
}

 /* CSS for the header and navbar, with responsive design
 when the container gets lower than 500px the navbar will collapse into a burgermenu instead */

 .header {
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    container-type: inline-size;
    container-name:header;
    
 }
 .header__targetGroups {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    background-color: var(--mintgreen) ;
    display: flex;
    justify-content: space-between;
    width: 150px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-block-end: 8px;
    border-radius: 0 0 0 12px;
 }
 .header__targetGroup{
   text-decoration: none;
   color: black;
   font-size: 12px;
 }
 .header__icons{
    margin-inline-end: 8px;
 }
 .search{
    cursor: pointer;
 }
 .wishlist{
    cursor: pointer;
 }
 .navbar__logo{
    width: 50px;
    margin-inline-start: 8px ;
 }
 .navbar{
    flex-grow: 1;
    max-width: 80%;
 }
 .navbar__menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
 }
 .navbar__menu.active {
   left: 0;
 }
 .menuLink{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1rem;
 }
 .menuLink:hover{
    color: var(--accent-primary);
 }
 .menuLink--active{
    text-decoration: underline;
    color: var(--accent-primary);
 }
 .hamburger{
   display: none;
 }
 .hamburger__bar {
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px auto;
   background-color: #101010;
 }
 .backButton{
   display: none;
 }

 /* container query for a smaller screen */
 @container header (max-width:970px){
   .navbar{
      max-width: 100%;
   }
   .menuLink{
      font-size: 0.75rem;
   }
 }
 
 /* container query for mobile */
 @container header (max-width:745px) {
    .header__targetGroups{
        display: none;
    }
    .navbar__menu{
        position: fixed;
        flex-direction: column;
        background-color: white;
        width: 100vw;
        height: 50vh;
        z-index: 5;
        left:100%;
        top: 0;
        max-height: 350px;
    }
    .hamburger {
      display: block;
      margin-inline-end: 8px;
    }
    .backButton{
      display: block;
    }
 }