/* Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Custom properties for colors */

:root {
    /* colors fill */
    --mintgreen: #d0eae3;
    /* gradients */
    --gradient__blue: linear-gradient(136deg, rgba(87, 235, 255, 100%) 0%, rgba(0, 119, 228, 100%) 100%);
    --gradient__orange: linear-gradient(180deg, rgba(249, 211, 10, 100%) 0%, rgba(237, 144, 5, 100%) 100%);
    --gradient__green: linear-gradient(136deg, rgba(178, 232, 90, 100%) 0%, rgba(107, 176, 47, 100%) 100%);

    /* colors text */
    --text__primary: #000000;
    --text__secondary: #ffffff;
	--text__noFocus: #C7C7C7;
    --text__accent--primary: #be323e;
    --text__accent--secondary: #17156a;
    --textKids__accent--blue: #24a6f0;
    --textKids__accent--yellow: #ef9906;
    --textKids__accent--pink: #fb9da4;

    --borderRadius__S: 8px;
    --borderRadius__M: 12px;

    /* spacing */
    --spacing__4: 4px;
    --spacing__8: 8px;
    --spacing__12: 12px;
    --spacing__16: 16px;
    --spacing__20: 20px;
    --spacing__32: 32px;
    --spacing__48: 48px;
    --spacing__92: 92px;
    --spacing__228: 228px;

    --currentCard: 0;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: 0px;
    /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

p {
    line-height: 24px;
}
h5{
    font-size: 2rem;
    font-weight: bold;
}
h6 {
    font-size: 1.25rem;
}
/* CSS for the header and navbar, with responsive design
 when the container gets lower than 745px the navbar will collapse into a burgermenu instead */

.header {
    width: 100vw;
    height: 80px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
	box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    container-type: inline-size;
    container-name: header;
    background-color: white;
}
.header__targetGroups {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--mintgreen);
    display: flex;
    justify-content: space-between;
    width: 150px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-block-end: 8px;
    border-radius: 0 0 0 12px;
}
.header__targetGroup {
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.header__icons {
    margin-inline-end: 12px;
}
.search {
    cursor: pointer;
}
.wishlist {
    cursor: pointer;
}
.navbar__logo {
    width: 50px;
    margin-inline-start: 8px;
}
.navbar {
    flex-grow: 1;
    max-width: 80%;
}
.navbar__menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
}
.navbar__menu.active {
    left: 0;
}
.menuLink {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1rem;
}
.menuLink:hover {
    color: var(--text__accent--primary);
}
.menuLink--active {
    text-decoration: underline;
    color: var(--text__accent--primary);
    
}
.hamburger {
    display: none;
}
.hamburger__bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #101010;
}
.backButton {
    display: none;
}

/* container query for a smaller screen */
@container header (max-width:970px) {
    .navbar {
        max-width: 100%;
    }
    .menuLink {
        font-size: 0.75rem;
    }
}

/* container query for mobile */
@container header (max-width:745px) {
    .header__targetGroups {
        display: none;
    }
    .navbar__menu {
        position: fixed;
        flex-direction: column;
        background-color: white;
        width: 100vw;
        height: 50vh;
        z-index: 5;
        left: 100%;
        top: 0;
        max-height: 350px;
    }
    .hamburger {
        display: block;
        margin-inline-end: 8px;
    }
    .backButton {
        display: block;
    }
}

/* ---------- hero Section ------------- */
.heroSection {
    width: 100vw;
	position: relative;
    overflow: hidden;
}
.heroSection__backgroundImage {
    /* height: calc(100vh - 80px); */
    display: block;
    width: 100%;
    z-index: -1;
}
.heroSection__backgroundImage--mobile {
    display: none;
}
/* SoMe section */
.socialMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing__32);
    position: absolute;
    left: var(--spacing__48);
	top: var(--spacing__32);

}
.socialMedia__line {
    width: 1px;
    height: var(--spacing__228);
    background-color: white;
}

/* text */
.heroSection__text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    max-width: 40vw;
    position: absolute;
    top: 10%;
    right: var(--spacing__92);
    color: var(--text__secondary);
}
.heroSection__title {
    background: var(--blue);
    font-size: 4.5rem;
    line-height: 5.5rem;
    font-weight: 800;
    margin-bottom: 0;
}
.imageCredit {
    font-size: 8px;
    line-height: 12px;
    margin-inline-start: 4px
}

/* ------------ CategorySlider ------------ */
.categorySlider {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    width: fit-content;
    overflow: hidden;
    translate: 0 -8%;
    padding-left: 35px;
    padding-bottom: 122px;
    color: var(--text__noFocus);
    background: linear-gradient(0deg, rgba(10, 66, 60, 1) 0%, rgba(10, 66, 60, 1) 92%, rgba(255, 255, 255, 0) 97%);
}

.slider__arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: var(--spacing__20);
    box-sizing: border-box;
    width: 100vw;
    left: 0;
    z-index: 2;

    .slider__arrow {
        cursor: pointer;

        &:hover {
            /*without space between & and the rest = element contains both classes*/
            fill: white;
        }

        &.slider__arrow--next {
            transform: rotate(180deg);
        }
    }
}

.categorySlider__card {
    position: relative;
    translate: calc(((100vw / 5) - 10px) * -1 * (var(--currentCard) - 2));
    transition: translate 0.3s;
    width: calc((100vw / 5) - 30px);
    height: 397px;

    .categorySlider__image {
        border-radius: var(--borderRadius__M);
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        box-shadow: -4px 4px 10px 0px rgba(0, 0, 0, 0.45);
    }

    .categorySlider__title {
        margin-block-start: var(--spacing__12);
        margin-block-end: var(--spacing__4);
        margin-inline-start: var(--spacing__4);
    }

    .categorySlider__description {
        display: none;
        font-size: 0.75rem;
        line-height: 1rem;
        margin-inline-start: var(--spacing__4);
    }

    &.focus {
        color: var(--text__secondary);
        margin-inline: -50px;
        /* - margin, so it overlaps the other cards */
        transform: translateY(40px);
        /* to get the image in the middle of the other images (different spacing, therefore is middle of the card NOT middle of the other cards and images */
        z-index: 1;

        .categorySlider__image {
            height: 536px;
            width: 328px;
            box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.77)
        }

        .categorySlider__title {
            font-size: 2rem;
        }

        .categorySlider__description {
            display: block;
            font-size: 1rem;
            line-height: 1.25rem;
        }
    }
}
.banner {
    width: 100%;
}

img {
    width: 100%;
}
/*header with headline for the page*/

.childCategory__header{
    background-image: url(images/kids_green_backdrop.svg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    height: 450px;
    display: grid;
    place-items: center;
    margin-top: -100px;
    z-index: -1;
  }
  .childCategory__headline{
    color: white;
  }

/*header with headline for the kids category page*/

.kidsCategory__header{
    background-image: url(images/kids_green_backdrop.svg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    height: 450px;
    display: grid;
    place-items: center;
    margin-block-start: -100px;
    z-index: -1;
  }
  .kidsCategory__headline{
    color: white;
  }

/* kids category page overall styling*/

.kidsCategory__body{
    display: grid;
}

/*Kids slider*/
.kidsSlider{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: var(--spacing__16);
    container-name: kidsSlider;
    container-type: inline-size;
}

.addToWishlist{
    display: none;
    position: absolute;
    bottom: var(--spacing__8);
    right: var(--spacing__8);
}
.kidsSlider__card{
    background: var(--gradient__orange);
    width: 228px;
    height: 320px;
    color: white;
    border-radius: var(--borderRadius__S);
    position: relative;
    display: flex;
    flex-direction: column;

    & .imageCredit{
        margin-block-start: var(--spacing__8);
        margin-inline: var(--spacing__8);
        margin-block-end: 0;
    }
}
.kidsSlider__card--focus{
    width: 270px;
    height: 350px;

    & .kidsSlider__image{
        width: 270px;
    }
    & .addToWishlist{
        display: block;
    }
}
.kidsSlider :nth-of-type(3n){  /* Every 3rd card gets the blue gradient background */
    background: var(--gradient__blue);
}
.kidsSlider :nth-of-type(3n+1){ /* Every card after ever 3rd card gets the background color orange */
    background: var(--gradient__green);
}
.kidsSlider :nth-of-type(n) > *{ /* there was an issue with this method where the above affects the non direct children, so this is to exclude them*/
    background: none;
}
.kidsSlider__location{
    flex-grow: 1;
    position: absolute;
    bottom: var(--spacing__8);
    left: var(--spacing__8);
    margin: 0;
}
.kidsSlider__title{
    margin-block-start: var(--spacing__20);
    margin-block-end: 0;
    margin-inline: var(--spacing__8);
}
.kidsSlider__image{
    object-fit: cover;
    width: 228px;
    height: 178px;
    border-radius: var(--borderRadius__S) var(--borderRadius__S) 0 0;
}

.kidsSlider__headline{
    place-self: center;
    margin-block-end: var(--spacing__32);
    margin-block-start: 0;
}
.kidsSlider__subHeadline{
    place-self: center;
    margin-block: 0 var(--spacing__20);
}
.ageButtons{
    place-self: center;
    margin-block: 0 var(--spacing__20);
    display: flex;
    gap: var(--spacing__12);
}
.ageButton{
    display: block;
    border: solid 2px orange;
    border-radius: var(--borderRadius__S);
    background-color: white;
    width: 80px;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
}
.ageButton:active{
    background: var(--gradient__orange);
    color: white;
}
.indicators{
    width: 192px;
    display: flex;
    gap: var(--spacing__8);
    place-self: center;
    margin-block: var(--spacing__16);
}
.indicator{
    width: 32px;
    height: 2px;
    background: rgba(0, 0, 0, 0.244);
}
.indicator--focus{
    background: rgba(0, 0, 0, 0.674);
}

/* container query for the kids slider*/
@container kidsSlider (max-width:980px){
    .kidsSlider__card{
     width: 153px;
     height: 206px;
    }
    .kidsSlider__image{
        width: 153px;
        height: 120px;
    }
    .kidsSlider__title{
        font-size: 1rem;
        margin-block-start: 4px;
    }
    .kidsSlider__location{
        font-size: 0.75rem;
        bottom: 4px;
        left: 4px;

        & svg{
            width: 10px;
            margin-block-end: -4px;
            margin-inline-start: 2px;
        }
    }
    .kidsSlider__card--focus{
        width: 170px;
        height: 228px;

        & .kidsSlider__image{
            height: 145px;
            width: 170px;
        }
    }
    .addToWishlist{
        width: 23px;
    }
 }