/* Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    /* colors fill */
    --mintgreen: #d0eae3;
    --lightBlue: #BDD4ED;
    --lilacGrey: #BFBDD1;
    --accent__blue: #17156a;
    --grey: #C7C7C7;

    /* gradients */
    --gradient__blue: linear-gradient(136deg, rgba(87, 235, 255, 100%) 0%, rgba(0, 119, 228, 100%) 100%);
    --gradient__orange: linear-gradient(180deg, rgba(249, 211, 10, 100%) 0%, rgba(237, 144, 5, 100%) 100%);
    --gradient__green: linear-gradient(136deg, rgba(178, 232, 90, 100%) 0%, rgba(107, 176, 47, 100%) 100%);

    /* colors text */
    --text__primary: #000000;
    --text__secondary: #ffffff;
	--text__noFocus: #C7C7C7;
    --text__accent--primary: #be323e;
    --text__accent--secondary: #17156a;
    --textKids__accent--blue: #24a6f0;
    --textKids__accent--yellow: #ef9906;
    --textKids__accent--pink: #fb9da4;

    --borderRadius__S: 8px;
    --borderRadius__M: 12px;

    /* spacing */
    --spacing__4: 4px;
    --spacing__8: 8px;
    --spacing__12: 12px;
    --spacing__16: 16px;
    --spacing__20: 20px;
    --spacing__24: 24px;
    --spacing__32: 32px;
    --spacing__40: 40px;
    --spacing__48: 48px;
    --spacing__64: 64px;
    --spacing__92: 92px;
    --spacing__128: 128px;
    --spacing__228: 228px;

    /* SLIDER */
      /* calculation of the cardWidth, because it's used in two places
    1. width of card itself, 2.translation (because card moves one place to the right
    -1vw for the gap, -8px, so that there are space for a glimpse of the two next cards*/
    --cardWidth: calc(((100vw) / 5) - 1vw - 8px);
    --cardWidthMobile: calc(((100vw) / 3) - 1vw);
    --currentCard: 4;

}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: 0px;
    /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

/* font-sizes mobile*/

p {
    line-height: 1.5rem;
}
h1{
    font-size: 2.25rem;
    font-weight: 800rem;
    line-height: 2.75rem;
}
h2{
    font-size: 2rem;
    font-weight: normal;
}
h3{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: normal;
}
h4{
    font-family: "Mr Dafoe", cursive;
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--text__accent--primary);
    margin: 0;
}
h5{
    font-size: 1.25rem;
    font-weight: bold;
}
h6 {
    font-size: 1rem;
}

/*font sizes desktop*/
@media screen and (min-width: 745px){

    
    h1{
        font-size: 4.5rem;
        font-weight: 800rem;
        line-height: 5.5rem;
    }
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    h4{
        font-family: "Mr Dafoe", cursive;
        font-size: 36px;
        color: var(--text__accent--primary);
    }
    h5{
        font-size: 2rem;
        font-weight: bold;
    }
    h6 {
        font-size: 1.25rem;
    }
}
